@keyframes color {
    0%   { background: white; }
    20%  { background: whitesmoke; }
    40%  { background: lightgray; }
    60%  { background: rgb(224, 240, 255); }
    80%  { background: lightblue; }
    100% { background: white; }
  }

.container{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    animation: color 9s infinite linear;
    align-items: center;
    justify-content: center;
}

.container form label{
    width: 80%;
    height: 8%;
    font-size:large;
    font-weight: 400;
}

.container form img{
    height: 25%;
}

.container form input[type="text"]{
    width: 80%;
    border-radius: 5px;
    border: rgba(189, 189, 189, 0.6) 2px solid;
    height: 8%;
    background-color: transparent;
}

.container form input[type="text"]:focus{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

.container form input[type="password"]:focus{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

.container form input[type="password"]{
    width: 80%;
    height: 8%;
    border-radius: 5px;
    background-color: transparent;
    border: rgba(189, 189, 189, 0.6) 2px solid;
}

.container form input[type="submit"]{
    margin: 2rem 0 0 0;
    font-size:large;
    font-weight: 600;
    height: 10%;
    transition: all 0.3s;
    width: 60%;
    color: white;
    background-color: blue;
    border: transparent 1px solid;
    border-radius: 5px;
}

.container form input[type="submit"]:hover{
    background-color: transparent;
    border-color: blue;
    color: blue;
}

.container form a{
    text-decoration: none;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    height: 50%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    border: solid 1px transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

@media screen and (max-width:1100px){
    form{
        width: 60%;
    }
}

@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}